<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>FØ1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>F&#216;1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f92b8666c8b04eb9b0ed04e8f492c9e0.png" alt="FØ1" usemap="#id-f92b8666c8b04eb9b0ed04e8f492c9e0map"/>
			   <map name="id-f92b8666c8b04eb9b0ed04e8f492c9e0map">
				  		<area shape="rect" coords="572,1480,1018,1782" href="../elements/EAID_79D9F89E_D7A6_4ce5_91ED_496AF8967A05.html"  target="element">
				  		<area shape="rect" coords="68,1456,514,1758" href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html"  target="element">
				  		<area shape="rect" coords="42,20,488,322" href="../elements/id-b9f31b391e13480d8f53202a030adfad.html"  target="element">
				  		<area shape="rect" coords="608,52,1054,354" href="../elements/id-0605c45015664119b1beeb3685352437.html"  target="element">
				  		<area shape="rect" coords="2940,2272,2976,2310" href="../elements/id-fbae91d0b5a744cab3dd3d2e8feae44b.html"  target="element">
				  		<area shape="rect" coords="1832,100,2278,402" href="../elements/id-ddb5fa0ba358482eb0147f5c64387e9c.html"  target="element">
				  		<area shape="rect" coords="1312,52,1758,354" href="../elements/EAID_FC2FB1F9_D52A_4072_B45F_AB8239DF95DF.html"  target="element">
				  		<area shape="rect" coords="1652,1432,2098,1734" href="../elements/id-17a8acde851149f3855bcd6a264da902.html"  target="element">
				  		<area shape="rect" coords="2216,1384,2662,1686" href="../elements/id-57e35109900d4bb1909d0ab3c853bc93.html"  target="element">
				  		<area shape="rect" coords="1112,1432,1558,1734" href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html"  target="element">
				  				<area shape="rect" coords="1568,1024,2158,1254" href="../elements/id-b8562007764c4e45afc60f25ccf08f5b.html"  target="element">
				  				<area shape="rect" coords="44,1546,318,1668" href="../elements/id-94c526bed4ce43148465164f8c8baea3.html"  target="element">
				  				<area shape="rect" coords="848,1000,1438,1230" href="../elements/id-e6d354c3251748cdaede8617079c44cf.html"  target="element">
				  				<area shape="rect" coords="164,1024,478,1254" href="../elements/id-f310a74a070a43ed8ead3f3dd050cd84.html"  target="element">

				  		<area shape="rect" coords="20,964,2822,1278" href="../elements/id-b70bca680b934f598524b679d1431728.html"  target="element">
				  				<area shape="rect" coords="1800,688,2354,918" href="../elements/id-f9e0d26598084289be8462daf9828917.html"  target="element">
				  				<area shape="rect" coords="660,688,1250,918" href="../elements/id-ebef814b75e34528b9a92e6d7a131d8b.html"  target="element">
				  				<area shape="rect" coords="1272,688,1622,918" href="../elements/id-5cfa739e32744425905faf5545ba7a76.html"  target="element">
				  				<area shape="rect" coords="24,640,614,870" href="../elements/id-08aea622556b4ca581be117643b38bae.html"  target="element">

				  		<area shape="rect" coords="24,628,2826,942" href="../elements/id-995379b4cef8409c9ce1c3e3f7815180.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-995379b4cef8409c9ce1c3e3f7815180.html" target="element"> Utvikling, produksjon, analyse av data </a> </td>
											    <td> <a href="../elements/id-995379b4cef8409c9ce1c3e3f7815180.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-08aea622556b4ca581be117643b38bae.html" target="element"> Plattformer for tjenesteutvikling og -produksjon </a> </td>
													    <td> <a href="../elements/id-08aea622556b4ca581be117643b38bae.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5cfa739e32744425905faf5545ba7a76.html" target="element"> Sammenstilling av data og datalagring </a> </td>
													    <td> <a href="../elements/id-5cfa739e32744425905faf5545ba7a76.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ebef814b75e34528b9a92e6d7a131d8b.html" target="element"> Ressurser for dataanalyse for datasett felles for en tjenestekjede </a> </td>
													    <td> <a href="../elements/id-ebef814b75e34528b9a92e6d7a131d8b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f9e0d26598084289be8462daf9828917.html" target="element"> Distribuerte datakilder </a> </td>
													    <td> <a href="../elements/id-f9e0d26598084289be8462daf9828917.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b70bca680b934f598524b679d1431728.html" target="element"> Infrastruktur </a> </td>
											    <td> <a href="../elements/id-b70bca680b934f598524b679d1431728.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f310a74a070a43ed8ead3f3dd050cd84.html" target="element"> Katalogtjenester </a> </td>
													    <td> <a href="../elements/id-f310a74a070a43ed8ead3f3dd050cd84.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e6d354c3251748cdaede8617079c44cf.html" target="element"> Datautveksling og integrasjon </a> </td>
													    <td> <a href="../elements/id-e6d354c3251748cdaede8617079c44cf.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-94c526bed4ce43148465164f8c8baea3.html" target="element"> Tillitstjenester </a> </td>
													    <td> <a href="../elements/id-94c526bed4ce43148465164f8c8baea3.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b8562007764c4e45afc60f25ccf08f5b.html" target="element"> Tillitstjenester </a> </td>
													    <td> <a href="../elements/id-b8562007764c4e45afc60f25ccf08f5b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element"> Datautveksling og integrasjoner </a> </td>
											    <td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-57e35109900d4bb1909d0ab3c853bc93.html" target="element"> Administrasjon/monitorering </a> </td>
											    <td> <a href="../elements/id-57e35109900d4bb1909d0ab3c853bc93.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17a8acde851149f3855bcd6a264da902.html" target="element"> Tillitstjenester </a> </td>
											    <td> <a href="../elements/id-17a8acde851149f3855bcd6a264da902.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_FC2FB1F9_D52A_4072_B45F_AB8239DF95DF.html" target="element"> Datalagring </a> </td>
											    <td> <a href="../elements/EAID_FC2FB1F9_D52A_4072_B45F_AB8239DF95DF.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ddb5fa0ba358482eb0147f5c64387e9c.html" target="element"> Datatjenester </a> </td>
											    <td> <a href="../elements/id-ddb5fa0ba358482eb0147f5c64387e9c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fbae91d0b5a744cab3dd3d2e8feae44b.html" target="element"> Lenker </a> </td>
											    <td> <a href="../elements/id-fbae91d0b5a744cab3dd3d2e8feae44b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0605c45015664119b1beeb3685352437.html" target="element"> Visualisering (copy) </a> </td>
											    <td> <a href="../elements/id-0605c45015664119b1beeb3685352437.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b9f31b391e13480d8f53202a030adfad.html" target="element"> Datainnsikt (copy) </a> </td>
											    <td> <a href="../elements/id-b9f31b391e13480d8f53202a030adfad.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
											    <td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/EAID_79D9F89E_D7A6_4ce5_91ED_496AF8967A05.html" target="element"> Markedsplass </a> </td>
											    <td> <a href="../elements/EAID_79D9F89E_D7A6_4ce5_91ED_496AF8967A05.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e4707d78123f4a1e9fdd11c890c71161.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4707d78123f4a1e9fdd11c890c71161.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-995379b4cef8409c9ce1c3e3f7815180.html" target="element"> Utvikling, produksjon, analyse av data </a> </td>
																		<td> <a href="../elements/id-ebef814b75e34528b9a92e6d7a131d8b.html" target="element"> Ressurser for dataanalyse for datasett felles for en tjenestekjede </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-77bac7b4018844f5a7df50ec389eb5c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77bac7b4018844f5a7df50ec389eb5c1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-995379b4cef8409c9ce1c3e3f7815180.html" target="element"> Utvikling, produksjon, analyse av data </a> </td>
																		<td> <a href="../elements/id-5cfa739e32744425905faf5545ba7a76.html" target="element"> Sammenstilling av data og datalagring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d67d18ff188a4b409ec71e2d85bc6100.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d67d18ff188a4b409ec71e2d85bc6100.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-995379b4cef8409c9ce1c3e3f7815180.html" target="element"> Utvikling, produksjon, analyse av data </a> </td>
																		<td> <a href="../elements/id-08aea622556b4ca581be117643b38bae.html" target="element"> Plattformer for tjenesteutvikling og -produksjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b8399b49eba46e29838d2059f982690.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b8399b49eba46e29838d2059f982690.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-995379b4cef8409c9ce1c3e3f7815180.html" target="element"> Utvikling, produksjon, analyse av data </a> </td>
																		<td> <a href="../elements/id-f9e0d26598084289be8462daf9828917.html" target="element"> Distribuerte datakilder </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-951f6d375c654bfaaa4d85f29b6f1368.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-951f6d375c654bfaaa4d85f29b6f1368.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b70bca680b934f598524b679d1431728.html" target="element"> Infrastruktur </a> </td>
																		<td> <a href="../elements/id-b8562007764c4e45afc60f25ccf08f5b.html" target="element"> Tillitstjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-668d7322947f4a07876a0fa8685ea20f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-668d7322947f4a07876a0fa8685ea20f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b70bca680b934f598524b679d1431728.html" target="element"> Infrastruktur </a> </td>
																		<td> <a href="../elements/id-94c526bed4ce43148465164f8c8baea3.html" target="element"> Tillitstjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fcb5022cd5df493b92866cac74ff74aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fcb5022cd5df493b92866cac74ff74aa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b70bca680b934f598524b679d1431728.html" target="element"> Infrastruktur </a> </td>
																		<td> <a href="../elements/id-e6d354c3251748cdaede8617079c44cf.html" target="element"> Datautveksling og integrasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ce5685eb5f5c46e899f74ddd6d6c94cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce5685eb5f5c46e899f74ddd6d6c94cc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b70bca680b934f598524b679d1431728.html" target="element"> Infrastruktur </a> </td>
																		<td> <a href="../elements/id-f310a74a070a43ed8ead3f3dd050cd84.html" target="element"> Katalogtjenester </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-fb893240eae442a6b304bf7f936c9d11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb893240eae442a6b304bf7f936c9d11.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element"> Datautveksling og integrasjoner </a> </td>
																		<td> <a href="../elements/id-e6d354c3251748cdaede8617079c44cf.html" target="element"> Datautveksling og integrasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f4c1d7e0a4b94030a683210b0f7851cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4c1d7e0a4b94030a683210b0f7851cb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-57e35109900d4bb1909d0ab3c853bc93.html" target="element"> Administrasjon/monitorering </a> </td>
																		<td> <a href="../elements/id-b8562007764c4e45afc60f25ccf08f5b.html" target="element"> Tillitstjenester </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d61a5c0eee0e472da4945dca945db2bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d61a5c0eee0e472da4945dca945db2bf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17a8acde851149f3855bcd6a264da902.html" target="element"> Tillitstjenester </a> </td>
																		<td> <a href="../elements/id-b8562007764c4e45afc60f25ccf08f5b.html" target="element"> Tillitstjenester </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ee6af30546084e88935f87afc02e5680.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee6af30546084e88935f87afc02e5680.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_FC2FB1F9_D52A_4072_B45F_AB8239DF95DF.html" target="element"> Datalagring </a> </td>
																		<td> <a href="../elements/id-5cfa739e32744425905faf5545ba7a76.html" target="element"> Sammenstilling av data og datalagring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-22ed0174871e4f3c8a89cb350479dedc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22ed0174871e4f3c8a89cb350479dedc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ddb5fa0ba358482eb0147f5c64387e9c.html" target="element"> Datatjenester </a> </td>
																		<td> <a href="../elements/id-5cfa739e32744425905faf5545ba7a76.html" target="element"> Sammenstilling av data og datalagring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7491c0aafb744d30b91847ebbf24bfa4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7491c0aafb744d30b91847ebbf24bfa4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0605c45015664119b1beeb3685352437.html" target="element"> Visualisering (copy) </a> </td>
																		<td> <a href="../elements/id-ebef814b75e34528b9a92e6d7a131d8b.html" target="element"> Ressurser for dataanalyse for datasett felles for en tjenestekjede </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-025d3aeb719d4b26b1cda9405908bb3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-025d3aeb719d4b26b1cda9405908bb3d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b9f31b391e13480d8f53202a030adfad.html" target="element"> Datainnsikt (copy) </a> </td>
																		<td> <a href="../elements/id-ebef814b75e34528b9a92e6d7a131d8b.html" target="element"> Ressurser for dataanalyse for datasett felles for en tjenestekjede </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1e8c741349cd48b180f4679539bb0c5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e8c741349cd48b180f4679539bb0c5d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
																		<td> <a href="../elements/id-f310a74a070a43ed8ead3f3dd050cd84.html" target="element"> Katalogtjenester </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7b172c78186143bdbe4031f76047bf7f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b172c78186143bdbe4031f76047bf7f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/EAID_79D9F89E_D7A6_4ce5_91ED_496AF8967A05.html" target="element"> Markedsplass </a> </td>
																		<td> <a href="../elements/id-f310a74a070a43ed8ead3f3dd050cd84.html" target="element"> Katalogtjenester </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>